@model IEnumerable<FootBallLeague.Models.FootBallLeague>



@{
    ViewBag.Title = "Home Page";
}
<body align="center" background-color="blue">
    <div>
        <h1><b>FootBall League</b></h1>
    </div>
    <div>
        <h3><b><i>MATCH SUMMARY</i></b></h3>
    </div>
    <div align="center">


        @foreach (var item in Model)
        {
        <h3>MatchId : @item.MatchID</h3>
        <h3>TeamName 1 : @item.TeamName1</h3>
        <h3>TeamName 2 : @item.TeamName2</h3>
        <h3>Match Status : @item.MatchStatus</h3>
        <h3>Winning Team : @item.WinningTeam</h3>
        <h3>Points : @item.Points</h3>
        <hr />


        }



    </div>
</body>
